<a href="https://colab.research.google.com/github/JuanZapatav/Inmersiondedatos/blob/main/Inmersiondedatosaula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bienvenido a nuestro primer encuentro con inmersion de datos

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
inmuebles = pd.read_csv('/content/drive/MyDrive/inmersion de datos/inmuebles_bogota.csv')
inmuebles.head()

          Tipo  ...            Valor
0  Apartamento  ...    $ 360.000.000
1         Casa  ...    $ 670.000.000
2  Apartamento  ...  $ 1.120.000.000
3  Apartamento  ...    $ 890.000.000
4  Apartamento  ...    $ 970.000.000

[5 rows x 8 columns]

shapes permite tener la forma del dataset

In [4]:
inmuebles.shape

(9520, 8)

columns permite ver las columnas los datos

In [5]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

Editar datos y agregar diccionario para modificarlos tratamiento de datos

In [6]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles=inmuebles.rename(columns=columnas)
inmuebles.sample(10)

             Tipo  ...            Valor
5576  Apartamento  ...    $ 475.000.000
2860  Apartamento  ...    $ 136.000.000
0     Apartamento  ...    $ 360.000.000
6905         Casa  ...  $ 1.630.000.000
8605  Apartamento  ...    $ 230.000.000
7329  Apartamento  ...    $ 129.000.000
9114  Apartamento  ...  $ 1.250.000.000
7726         Casa  ...  $ 1.150.000.000
2689  Apartamento  ...    $ 410.000.000
6339         Casa  ...  $ 1.700.000.000

[10 rows x 8 columns]

info nos permite conocer la informacion de nuestro data los tipo de datos rangos de indice

In [7]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

iloc permite ver lo que hay en esa linea es como un buscador

In [9]:
inmuebles.iloc[300]

Tipo                                Apartamento
Descripcion     Apartamento en venta en Kennedy
Habitaciones                                  2
Banos                                         1
Area                                         42
Barrio                                  Kennedy
UPZ                             Kennedy Central
Valor                             $ 116.100.000
Name: 300, dtype: object

In [10]:
inmuebles.iloc[300:305]

            Tipo  ...          Valor
300  Apartamento  ...  $ 116.100.000
301  Apartamento  ...  $ 980.000.000
302  Apartamento  ...  $ 237.000.000
303  Apartamento  ...  $ 320.000.000
304  Apartamento  ...  $ 530.000.000

[5 rows x 8 columns]

In [14]:
inmuebles['Valor'][300]

'$ 116.100.000'

In [15]:
inmuebles['Valor'][300:305]

300    $ 116.100.000
301    $ 980.000.000
302    $ 237.000.000
303    $ 320.000.000
304    $ 530.000.000
Name: Valor, dtype: object

In [17]:
type(inmuebles['Valor'][300:305])

pandas.core.series.Series

In [18]:
inmuebles.Area.mean()

146.66470588235293

In [19]:
inmuebles.sample(10)

             Tipo  ...            Valor
8849  Apartamento  ...    $ 320.000.000
8722  Apartamento  ...  $ 1.368.000.000
5246  Apartamento  ...    $ 950.000.000
8576  Apartamento  ...    $ 650.000.000
7038  Apartamento  ...    $ 535.000.000
2252  Apartamento  ...    $ 795.000.000
7804         Casa  ...    $ 650.000.000
1073  Apartamento  ...    $ 580.000.000
6571  Apartamento  ...    $ 256.000.000
7640  Apartamento  ...    $ 180.000.000

[10 rows x 8 columns]

In [20]:
(inmuebles.Barrio == 'Chico Reservado')

0       False
1       False
2        True
3       False
4       False
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Barrio, Length: 9520, dtype: bool

In [21]:
sum(inmuebles.Barrio == 'Chico Reservado')

225

In [24]:
inmuebles_chico=(inmuebles.Barrio == 'Chico Reservado')
type(inmuebles_chico)

pandas.core.series.Series